:root {
  --primary-color: #242582;
  --secondary-color: #553D67;
  --accent-color: #F64C72;
  --complement-color: #99738E;
  --dark-color: #2F2FA2;
}

html {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  height: 100%;
  background: url('https://images.unsplash.com/photo-1451187580459-43490279c0fa?q=80&w=2072&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D') no-repeat center center fixed;
  background-size: cover;
  overflow-x: hidden;
}

body::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: inherit;
  filter: blur(8px);
  z-index: -1;
}
.content {
  position: relative;
  z-index: 1;
}

input::placeholder{
  color:grey;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}